@import "tailwindcss";
@config "../tailwind.config.js";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply bg-white text-black;
  }

  html.dark {
    @apply bg-gray-900 text-white;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.09); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}